<table width="100%">
    <tr>
        <td width="1%"></td>
        <td width="20%">
            <div id="leftpanel"></div>
        </td>
        <td width="1%"></td>
        <td width="56%">
            <div id="middlepanel">
                <label>NBA Season 2019-2020 is Suspended due to COVID-19 !</label>
            </div>
        </td>
        <td width="1%"></td>
        <td width="20%">
            <div id="rightpanel1">
                <table id="game">
                    <tr>
                        <td><label id="gametitle"><br>Best Game to Play during COVID-19</label></td>
                    </tr>
                    <tr>
                        <td><img src="assets/img/plague.gif" id="plague"></td>
                    </tr>
                    <tr>
                        <td><label id="plaguetitle">Plague INC.</label></td>
                    </tr>
                    <tr>
                        <td><a   href="https://apkpure.com/plague-inc/com.miniclip.plagueinc" target="_blank"><button>Download</button></a></td>
                    </tr>
                </table>
            </div>
            <div id="rightpanel2">
                
                <table id="mp3">
                    <tr>
                        <td height="30px"><label id="mp3title"><a href="https://open.spotify.com/playlist/64QxysD2w5x5EMLgcoT7fa" target="_blank">Top 5 Music during COVID-19<br><i style="text-align: center;">by Spotify</i></a> </label></td>
                    </tr>
                    <tr>
                        <td><a href="https://www.youtube.com/watch?v=8EJ3zbKTWQ8" target="_blank">1. Yummy : Justin Bieber</a></td>
                    </tr>
                    <tr>
                        <td><a href="https://www.youtube.com/watch?v=EgBJmlPo8Xw" target="_blank">2. Everything I Wanted : Billie Eilish</a> </td>
                    </tr>
                    <tr>
                        <td><a href="https://www.youtube.com/watch?v=ia1iuXbEaYQ" target="_blank">3. Rare : Selena Gomez</a> </td>
                    </tr>
                    <tr>
                        <td><a href="https://www.youtube.com/watch?v=4NRXx6U8ABQ" target="_blank">4. Blinding Lights : The Weeknd</a> </td>
                    </tr>
                    <tr>
                        <td><a href="https://www.youtube.com/watch?v=9HDEHj2yzew" target="_blank">5. Physical : Dua Lipa</a> </td>
                    </tr>
                </table>
            </div></td>
        <td width="1%"></td>
    </tr>
</table>