<table width="100%">
    <tr>
        <td width="1%"></td>
        <td width="20%">
            <div id="leftpanel1">
                <table id="nba">
                    <tr>
                        <td height="30px">NBA Suspends 2019-2020 Season due to COVID-19<br><img src="assets/img/nbalogo.png" id="nbalogo"><br><img src="assets/img/virus.gif" id="virus"></td>
                    </tr>
                </table>
            </div><br>
            <div id="leftpanel2">
                <table id="covid">
                    <tr>
                        <td height="30px"><br>Covid Monitoring System<br><i>as of 03/15/2020</i></td>
                    </tr>
                    <tr>
                        <td height="30px"><br>Corona Virus Cases:</td>
                    </tr>
                    <tr>
                        <td style="font-size: 30px; color:yellow;" height="40px">156,562</td>
                    </tr>
                    <tr>
                        <td height="30px" style="font-size: 30px; color: red;"><img src="assets/img/deds.gif" style="height: 40px; width: 30px;margin-right: 20px;margin-bottom:-8px;">5,836</td>
                    </tr>
                    <tr>
                        <td height="30px" style="font-size: 30px; color:green;"><img src="assets/img/alive.gif"  style="height: 40px; width: 30px;margin-right: 5px;margin-bottom:-8px;">75,922</td>
                    </tr>
                    <tr><td height="30px"></td></tr>
                    <tr>
                        <td height="30px">by <a href="https://www.worldometers.info/coronavirus/#countries" target="_blank" style="text-decoration: none;color: rgb(6, 6, 196);">worldometers.info</a></td>
                    </tr>
                </table>
            </div>
        </td>
        <td width="1%"></td>
        <td width="56%">
            <div id="middlepanel">
                <table id="highlights">
                    <tr>
                        <td height="20px"><label>NBA Season 2019-2020 Highlights before COVID-19 !</label></td>
                    </tr>
                    <tr>
                        <td id="maintitle"><br><br>
                            <iframe width="600" height="355" src="https://www.youtube.com/embed/tOX_CZEwVuM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe><br>Jazz-Thunder postponed just before tip-off<br>Rudy Gobert tested Positive in COVID-19
                        </td>
                    </tr>
                    <tr>
                        <td><br><br>
                            <table class="videos">
                                <tr>
                                    <td><iframe width="360" height="315" src="https://www.youtube.com/embed/tTqZUP0YjtM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe><br>NETS vs LAKERS<br>March 10, 2020</td>
                                    <td><iframe width="360" height="315" src="https://www.youtube.com/embed/GUNx3gJyZGw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe><br>LAKERS vs CLIPPERS<br>March 8, 2020</td>
                                    
                                </tr>
                                <tr>
                                    <td><iframe width="360" height="315" src="https://www.youtube.com/embed/UpCqAw4FtuY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe><br>BUCKS vs LAKERS<br>March 6, 2020</td>
                                    <td><iframe width="360" height="315" src="https://www.youtube.com/embed/_G_zcZPE6Wg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe><br>RAPTORS vs WARRIORS<br>March 5, 2020</td>
                                </tr>
                                <tr>
                                    <td><iframe width="360" height="315" src="https://www.youtube.com/embed/-aUDBAGTPeQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe><br>ROCEKTS vs LAKERS<br>February 6, 2020</td>
                                    <td><iframe width="360" height="315" src="https://www.youtube.com/embed/ZjNM8lNc3Ew" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe><br>CLIPPERS vs ROCEKTS<br>March 5, 2020</td>
                                </tr>
                                <tr>
                                    <td><iframe width="360" height="315" src="https://www.youtube.com/embed/T9vz67FeUkA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe><br>NBA's Best Plays | February <br>2019-20 NBA Season</td>
                                    <td><iframe width="360" height="315" src="https://www.youtube.com/embed/stavqGPfZKI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe><br>Best of Crossovers<br>2019-20 NBA Season</td>
                                </tr>
                                
                            </table>
                        </td>
                    </tr>
                </table>
            </div>
        </td>
        <td width="1%"></td>
        <td width="20%">
            <div id="rightpanel1">
                <table id="game">
                    <tr>
                        <td><label id="gametitle"><br>Best Game to Play during COVID-19</label></td>
                    </tr>
                    <tr>
                        <td><img src="assets/img/plague.gif" id="plague"></td>
                    </tr>
                    <tr>
                        <td><label id="plaguetitle">Plague INC.</label></td>
                    </tr>
                    <tr>
                        <td><a   href="https://apkpure.com/plague-inc/com.miniclip.plagueinc" target="_blank"><button>Download</button></a></td>
                    </tr>
                </table>
            </div>
            <div id="rightpanel2">
                
                <table id="mp3">
                    <tr>
                        <td height="30px"><label id="mp3title"><a href="https://open.spotify.com/playlist/64QxysD2w5x5EMLgcoT7fa" target="_blank">Top 5 Music during COVID-19<br><i style="text-align: center;">by Spotify</i></a> </label></td>
                    </tr>
                    <tr>
                        <td><a href="https://www.youtube.com/watch?v=8EJ3zbKTWQ8" target="_blank">1. Yummy : Justin Bieber</a></td>
                    </tr>
                    <tr>
                        <td><a href="https://www.youtube.com/watch?v=EgBJmlPo8Xw" target="_blank">2. Everything I Wanted : Billie Eilish</a> </td>
                    </tr>
                    <tr>
                        <td><a href="https://www.youtube.com/watch?v=ia1iuXbEaYQ" target="_blank">3. Rare : Selena Gomez</a> </td>
                    </tr>
                    <tr>
                        <td><a href="https://www.youtube.com/watch?v=4NRXx6U8ABQ" target="_blank">4. Blinding Lights : The Weeknd</a> </td>
                    </tr>
                    <tr>
                        <td><a href="https://www.youtube.com/watch?v=9HDEHj2yzew" target="_blank">5. Physical : Dua Lipa</a> </td>
                    </tr>
                </table>
            </div></td>
        <td width="1%"></td>
    </tr>
</table>